


<div>

	<h2>Musiktherapie <small>: Gute Stimmung durch Musik </small></h2><br/><br/>


	<h4>Musiktherapie
Dass Musik eine heilende Wirkung haben kann, weiß man schon sehr lange. Musik wirkt sich wohltuend auf Körper und Geist aus, kann beruhigen oder anregen, enstpannen oder sogar Schmerzen lindern. Aus diesem Grund wird sie bei der Therapie verschiedenster Störungen und Erkrankungen eingesetzt, wie beispielsweise Alzheimer, Depressionen, Autismus oder bei der Behandlung von Frühchen.</h4> 
<a href="https://www.musicfox.com" target="_blank" title="musicfox - gemafreie Musik">Gemafreie Musik von musicfox</a>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>
	<div class="jumbotron">
		<div class="container">
		<br/>
       <audio controls>
          <source src="images/musicfox_physical_dreams.mp3" type="audio/ogg">
            <source src="images/musicfox_physical_dreams.mp3" type="audio/mpeg">
            <source src="images/musicfox_ambient_pearls.mp3" type="audio/ogg">
            <source src="images/musicfox_ambient_pearls.mp3" type="audio/mpeg">
            
            Your browser does not support the audio element.
         </audio>       
<iframe width="420" height="345" src="https://www.youtube.com/embed/01gOx7iB1LQ">
</iframe>
			
</div>
</div>
</div>

