<div>

	<h2>Frage  <small>Work with Chart.js and D3</small></h2>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>
	<div class="jumbotron">
		<div class="container">
			<h1>Buchen Sie jetzt Ihren Arzttermin!</h1>
			
			<p>
			<input type="text" class="container" id="" placeholder="Email" required ng-model=user.email>
			

			<form method="post" >
            <form method="post" >
             <p>
             <label for="ameliorer">
           
              </label>
             <br />
       
       <textarea name="ameliorer" id="ameliorer" rows="10" cols="50">
       Hier schreiben Sie bitte
       </textarea>       
       </p>
         </form>
             <input type="date" class="container" />
             <br/><br/>
				<a class="btn btn-primary btn-lg btn-outline btn-rounded">Senden</a>
			</p>
		</div>
	</div>
</div>
</form>
</p>
</div>
</div>
</div>
