<div>
	<a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Reports</a>
	<h2>KENNEN SIE<small> IHRE BRUST?
</small></h2>
    <div class="row">
	<div class="jumbotron col-md-5">
		<div class="container">
			<h3 color:pink; >Brust abtasten: Der richtige Zeitpunkt</h3>
              Jede Frau sollte regelmäßig ihre Brust abtasten, am besten einmal im Monat. Der optimale Zeitpunkt ist eine Woche nach <br /><br/>
             </div><img src="images/Zeitpunkt.jpg" class="img-circle" width="100%" height="236"/>
                        

             <p>

				<a class="btn btn-primary btn-lg btn-outline btn-rounded">Mehr erfahren</a>
               </p>
		    </div>
    <div class="jumbotron col-md-5">
        <div class="container">
            <h3>Was ist Brustkrebs</h3>
             Jede Frau sollte regelmäßig ihre Brust abtasten, am besten einmal im Monat. Der optimale Zeitpunkt ist eine Woche nach<br /><br />
            </div>
             <img src="images/Infla.jpg" class="img-circle" width="100%" height="236"/>
            <p>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded">Mehr erfahren</a>
            </p>
        
    </div>
    <div class="jumbotron col-md-5">
        <div class="container">
            <h3>Werden Sie Expertin für Ihre Brust!</h3>
            Die Brust richtig abtasten will deshalb gelernt sein. Doch wie eigentlich? Die Frage haben sich 
<br /><br />
            </div>
             <img src="images/Experten-Review.jpg" class="img-circle" width="100%" height="236"/>
            <p>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded">Mehr erfahren</a>
            </p>
        </div>
<div class="jumbotron col-md-5">
        <div class="container">
            <h3>was tun bei veränderung</h3>
             Jede Frau sollte regelmäßig ihre Brust abtasten, am besten einmal im Monat. Der optimale Zeitpunkt ist eine Woche nach<br /><br />
            </div>
             <img src="images/Veranderung.jpg" class="img-circle" width="100%" height="236"/>
            <p>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded">Mehr erfahren</a>
            </p>
        
    </div>



    
</div>
</div>
</div
