<div>
	<h2>Overview <small>Why is Ani Theme so awesome?</small></h2>
    <div class="row">
	<div class="jumbotron col-md-5">
		<div class="container">
			<h3>Welcome!</h3>
            I don't want to bloat this Ani Theme Free Edition AngularJS Admin theme with a lot of plugins.<br /><br />
			<p>
				<a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
			</p>
		</div>
	</div>
    <div class="jumbotron col-md-5">
        <div class="container">
            <h3>Welcome!</h3>
            I don't want to bloat this Ani Theme Free Edition AngularJS Admin theme with a lot of plugins.<br /><br />
            <p>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
            </p>
        </div>
    </div>

    <div class="jumbotron col-md-5">
        <div class="container">
            <h3>Welcome!</h3>
            I don't want to bloat this Ani Theme Free Edition AngularJS Admin theme with a lot of plugins.<br /><br />
            <p>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
            </p>
        </div>
    </div>

        <div class="jumbotron col-md-5">
            <div class="container">
                <h3>Welcome!</h3>
                I don't want to bloat this Ani Theme Free Edition AngularJS Admin theme with a lot of plugins.<br /><br />
                <p>
                    <a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
                </p>
            </div>
        </div>
    </div>

</div>
