<div ng-controller='passwordCtrl'>
   <form name='form'>
   <div align="center" style="padding-top: 10%;">





   <h4>PassWord Vergessen !!!</h4>



      <input data-ng-model='user.email' type="text" name='email' placeholder='Email' required><br/><br/>
      <input data-ng-model='user.password' type="password" name='password' placeholder='password' required>
      <div ng-show="form.password.$error.required">
        Field required</div><br/>
     <input ng-model='user.password_verify' type="password" name='confirm_password' placeholder='confirm password' required data-password-verify="user.password"><br/><br/>
      <button style="color:black" type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Senden</button>
      <div ng-show="form.confirm_password.$error.required">
        Field required!</div>
      <div ng-show="form.confirm_password.$error.passwordVerify">
        Fields are not equal!</div>
   </form>
   </div>
   </div>
