<div>
   

    <steps>
        <step>
            <div class="form-group col-md-10">
                <h1>Selbstuntersuchung </h1>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-next>Next</a>
            </div>
            <div class="jumbotron col-md-10">
                <div class="container">
                    <h3>Die Monatliche Selbstunterschucng der Brust in 8 SChritten</h3>
                    I don't want to bloat this Ani Theme Free Edition AngularJS Admin theme with a lot of
                    plugins.<br/><br/>
                    <p>
                        <a class="btn btn-primary btn-lg btn-outline btn-rounded">Erinnerung planen</a>
                    </p>
                </div>
            </div>
        </step>
        <step>
            <div class="form-group col-md-10">
                <h1>Schritt 1</h1>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-next>Next</a>
            </div>
            <div class="jumbotron col-md-10">
                <div class="container">
                    <h3>selbstuntersuchung</h3>
                    <h4 style="color:black;">
                    Stellen Sie sich vor einen Spigel , und betrachte Sie Ihre aufmerksam.
                    Fallen Ihnen irgendwelche neueren Veranderungen der Haut oder der Brustwarzen auf ? </h4><br/><br/>
                    <img src="images/schritt1.jpg" alt="Mountain View" >
                    <br/><br/>
                    
             <br/><br/>
            <label class="btn btn-info">
                <input type="checkbox" autocomplete="off" name="aaaaa">aaaaaa</input>
                <span class="glyphicon glyphicon-ok" ></span>
            </label>
            <br/><br/>            
                        <label class="btn btn-default">
                <input type="checkbox" autocomplete="off">Normal</input>
                <span class="glyphicon glyphicon-ok"></span>
            </label>            
              <br/><br/>
            <label class="btn btn-warning">
                <input type="checkbox" autocomplete="off">Info !! 
                <span class="glyphicon glyphicon-ok"></span>
            </label>
            <br/><br/>
                    <label class="btn btn-danger">
                <input type="checkbox" autocomplete="off">etwas schlimm !!</input>
                <span class="glyphicon glyphicon-ok"></span>
            </label> 
            <br/><br/>           
                    <p>
                        <a class="btn btn-primary btn-lg btn-outline btn-rounded">Next</a>
                    </p>
                </div>
            </div>
        </step>
         <step>
            <div class="form-group col-md-10">
                <h1>Schritt 2</h1>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-next>Next</a>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-previous>Previous</a>
            </div>
            <div class="jumbotron col-md-10">
                <div class="container">
                    <h3>selbstuntersuchung</h3>
                    <h4 style="color:black;">Heben Sie jetzt die Arme über den Kopf und betrachten Sie Ihr Brust im Spiegel sowohl von vorn als auch von beiden Seiten .koennen Sie irgendwelche Hautveraenderung, Einziehungen der Brustwarzen, bisher nicht beobactet Hautflten rund um die Brustwarzen oder Aehnliches feststellen ?</h4><br/><br/>
                    <img src="images/schritt2.jpg" alt="Mountain View" >
                    < <br/><br/>
            <label class="btn btn-info">
                <input type="checkbox" autocomplete="off" name="aaaaa">aaaaaa</input>
                <span class="glyphicon glyphicon-ok" ></span>
            </label>
            <br/><br/>            
                        <label class="btn btn-default">
                <input type="checkbox" autocomplete="off">Normal</input>
                <span class="glyphicon glyphicon-ok"></span>
            </label>            
              <br/><br/>
            <label class="btn btn-warning">
                <input type="checkbox" autocomplete="off">Info !! 
                <span class="glyphicon glyphicon-ok"></span>
            </label>
            <br/><br/>
                    <label class="btn btn-danger">
                <input type="checkbox" autocomplete="off">etwas schlimm !!</input>
                <span class="glyphicon glyphicon-ok"></span>
            </label> 
            <br/><br/>           
                    <p>
                        <a class="btn btn-primary btn-lg btn-outline btn-rounded">Next</a>
                    </p>
                </div>
            </div>
        </step>


        <step>
            <div class="form-group col-md-10">
                <h1>Schritt 3</h1>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-next>Next</a>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-previous>Previous</a>
            </div>
            <div class="jumbotron col-md-10">
                <div class="container">
                    <h3>selbstuntersuchung</h3>
                    <h4 style="color:black;">Tasten Sie jetzt -immer noch im Stehen -Ihre Brust mit allen Fingern der flachen Hand im Uhrzeigersinn ab. </h4><br/><br/>
                    <img src="images/schritt3.jpg" alt="Mountain View" >
                    <br/><br/>
                     <br/><br/>
            <label class="btn btn-info">
                <input type="checkbox" autocomplete="off" name="aaaaa">aaaaaa</input>
                <span class="glyphicon glyphicon-ok" ></span>
            </label>
            <br/><br/>            
                        <label class="btn btn-default">
                <input type="checkbox" autocomplete="off">Normal</input>
                <span class="glyphicon glyphicon-ok"></span>
            </label>            
              <br/><br/>
            <label class="btn btn-warning">
                <input type="checkbox" autocomplete="off">Info !! 
                <span class="glyphicon glyphicon-ok"></span>
            </label>
            <br/><br/>
                    <label class="btn btn-danger">
                <input type="checkbox" autocomplete="off">etwas schlimm !!</input>
                <span class="glyphicon glyphicon-ok"></span>
            </label> 
            <br/><br/>           
                    <p>
                        <a class="btn btn-primary btn-lg btn-outline btn-rounded">Next</a>
                    </p>
                </div>
            </div>
        </step>
        <step>
            <div class="form-group col-md-10">
                <h1>Schritt 4</h1>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-next>Next</a>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-previous>Previous</a>
            </div>
            <div class="jumbotron col-md-10">
                <div class="container">
                    <h3>selbstuntersuchung</h3>
                    Die Monatliche Selbstunterschucng der Brust in 8 SChritten<br/><br/>
                    <img src="images/schritt4.jpg" alt="Mountain View" >
                    <br/><br/>
                     <br/><br/>
            <label class="btn btn-info">
                <input type="checkbox" autocomplete="off" name="aaaaa">aaaaaa</input>
                <span class="glyphicon glyphicon-ok" ></span>
            </label>
            <br/><br/>            
                        <label class="btn btn-default">
                <input type="checkbox" autocomplete="off">Normal</input>
                <span class="glyphicon glyphicon-ok"></span>
            </label>            
              <br/><br/>
            <label class="btn btn-warning">
                <input type="checkbox" autocomplete="off">Info !! 
                <span class="glyphicon glyphicon-ok"></span>
            </label>
            <br/><br/>
                    <label class="btn btn-danger">
                <input type="checkbox" autocomplete="off">etwas schlimm !!</input>
                <span class="glyphicon glyphicon-ok"></span>
            </label> 
            <br/><br/>           
                    <p>
                        <a class="btn btn-primary btn-lg btn-outline btn-rounded">Next</a>
                    </p>
                </div>
            </div>
        </step>
        <step>
            <div class="form-group col-md-10">
                <h1>Schritt 5</h1>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-next>Next</a>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-previous>Previous</a>
            </div>
            <div class="jumbotron col-md-10">
                <div class="container">
                    <h3>selbstuntersuchung</h3>
                    Die Monatliche Selbstunterschucng der Brust in 8 SChritten<br/><br/>
                    <img src="images/schritt5.jpg" alt="Mountain View" >
                    <br/><br/>
                     <br/><br/>
            <label class="btn btn-info">
                <input type="checkbox" autocomplete="off" name="aaaaa">aaaaaa</input>
                <span class="glyphicon glyphicon-ok" ></span>
            </label>
            <br/><br/>            
                        <label class="btn btn-default">
                <input type="checkbox" autocomplete="off">Normal</input>
                <span class="glyphicon glyphicon-ok"></span>
            </label>            
              <br/><br/>
            <label class="btn btn-warning">
                <input type="checkbox" autocomplete="off">Info !! 
                <span class="glyphicon glyphicon-ok"></span>
            </label>
            <br/><br/>
                    <label class="btn btn-danger">
                <input type="checkbox" autocomplete="off">etwas schlimm !!</input>
                <span class="glyphicon glyphicon-ok"></span>
            </label> 
            <br/><br/>           
                    <p>
                        <a class="btn btn-primary btn-lg btn-outline btn-rounded">Next</a>
                    </p>
                </div>
            </div>
        </step>
        <step>
            <div class="form-group col-md-10">
                <h1>Schritt 6</h1>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-next>Next</a>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-previous>Previous</a>
            </div>
            <div class="jumbotron col-md-10">
                <div class="container">
                    <h3>selbstuntersuchung</h3>
                    Die Monatliche Selbstunterschucng der Brust in 8 SChritten<br/><br/>
                    <img src="images/schritt6.jpg" alt="Mountain View" >
                     <br/><br/>
            <label class="btn btn-info">
                <input type="checkbox" autocomplete="off" name="aaaaa">aaaaaa</input>
                <span class="glyphicon glyphicon-ok" ></span>
            </label>
            <br/><br/>            
                        <label class="btn btn-default">
                <input type="checkbox" autocomplete="off">Normal</input>
                <span class="glyphicon glyphicon-ok"></span>
            </label>            
              <br/><br/>
            <label class="btn btn-warning">
                <input type="checkbox" autocomplete="off">Info !! 
                <span class="glyphicon glyphicon-ok"></span>
            </label>
            <br/><br/>
                    <label class="btn btn-danger">
                <input type="checkbox" autocomplete="off">etwas schlimm !!</input>
                <span class="glyphicon glyphicon-ok"></span>
            </label> 
            <br/><br/>           
                    <p>
                        <a class="btn btn-primary btn-lg btn-outline btn-rounded">Next</a>
                    </p>
                </div>
            </div>
        </step>
         <step>
            <div class="form-group col-md-10">
                <h1>Schritt 7</h1>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-next>Next</a>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-previous>Previous</a>
            </div>
            <div class="jumbotron col-md-10">
                <div class="container">
                    <h3>selbstuntersuchung</h3>
                    Die Monatliche Selbstunterschucng der Brust in 8 SChritten<br/><br/>
                    <img src="images/schritt7.jpg" alt="Mountain View" >
                    <br/><br/>
                     <br/><br/>
            <label class="btn btn-info">
                <input type="checkbox" autocomplete="off" name="aaaaa">aaaaaa</input>
                <span class="glyphicon glyphicon-ok" ></span>
            </label>
            <br/><br/>            
                        <label class="btn btn-default">
                <input type="checkbox" autocomplete="off">Normal</input>
                <span class="glyphicon glyphicon-ok"></span>
            </label>            
              <br/><br/>
            <label class="btn btn-warning">
                <input type="checkbox" autocomplete="off">Info !! 
                <span class="glyphicon glyphicon-ok"></span>
            </label>
            <br/><br/>
                    <label class="btn btn-danger">
                <input type="checkbox" autocomplete="off">etwas schlimm !!</input>
                <span class="glyphicon glyphicon-ok"></span>
            </label> 
            <br/><br/>           
                    <p>
                        <a class="btn btn-primary btn-lg btn-outline btn-rounded">Next</a>
                    </p>
                </div>
            </div>
        </step>

        <step>
            <div class="form-group col-md-10">
                <h1>Schritt 2</h1>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-previous>Previous</a>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-next>Next</a>
            </div>
           
          
            <div class="jumbotron col-md-10">
                <div class="container">
                    <h3>Schritt 5</h3>
                    I don't want to bloat this Ani Theme Free Edition AngularJS Admin theme with a lot of
                    plugins.<br/><br/>
                    <p>
                        <a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
                    </p>
                </div>
            </div>
</step>
<step>





            <div class="jumbotron col-md-10">
                <div class="container">
                    <h3>Mini massage</h3>
                      <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-previous>Previous</a>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-next>Next</a>
                    I don't want to bloat this Ani Theme Free Edition AngularJS Admin theme with a lot of
                    plugins.<br/><br/>
                    <p>
                        <a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
                    </p>
                </div>
            </div>
        </step>
    </steps>
</div>
