<div class="tests-page">
    <steps>
        <step>
            <div class="form-group col-md-10">
                <h1>Die Monatliche Selbstunterschung der Brust in 8 Schritten</h1>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-next>Next</a>
            </div>
            <div class="jumbotron col-md-10">
                <div class="container">
                    <h3 style="color:black;">Brust richtig abtasten: So geht’s! </h3>
                    <img src="images/brustkrebs-vorsorge.jpg" alt="Mountain View" ><br/>
                    <p  class="serif" > Führen Sie Selbstuntersuchung einmal im Monat zum gleich Zeitpunkt durh, am besten unmittelbar nach der Monatsblutung.Das Brustgewebe ist zu dieser eit normalweris weich und laesst sich gut abtesten.<br/><br/>
                    </p>
                        <a class="btn btn-primary btn-lg btn-outline btn-rounded">Erinnerung planen</a>
                        <select>
                        <option value="Erinnere mich in 2 Wochen ">Erinnere mich in 2 Wochen </option>
                         <option value="Erinnere mich in 4 Wochen ">Erinnere mich in 4 Wochen</option>
                         <option value="Erinnere mich in 6 Wochen ">Erinnere mich in 6 Wochen</option>
 
                       </select>
                    </p>
                </div>
            </div>
        </step>

        <step>
        
            <div class="form-group col-md-10">
                <h1>Schritt 1</h1>
                <a type="submit" class="btn btn-primary btn-lg btn-outline btn-rounded" step-next>Next</a>
            </div>


            <div class="jumbotron col-md-10">
                <div class="container">
                    <h3>selbstuntersuchung</h3>
                    <h4 style="color:black;">
                   <span class="first-letter">Stellen Sie sich vor einen Spigel , und betrachte Sie Ihre aufmerksam.
                    Fallen Ihnen irgendwelche neueren Veranderungen der Haut oder der Brustwarzen auf ?</span> </h4><br/><br/>
                    <img src="images/schritt1.jpg" alt="Mountain View" >
                    <br/><br/>
                    
             <br/><br/>
             
                    <form role="form" ng-submit="submit()" novalidate>
                <INPUT type="checkbox" name="gut" placeholder="gut"  ng-change="logConsole()" value="false" ngRequired ng-model=user.gut>Alles gut</INPUT>
                <INPUT type="checkbox" name="schlecht" placeholder="schlecht" value="true" ngRequired ng-model=user.schlecht value="false" ng-change="logConsole()">Varnaenerderung</INPUT>


            
            <br/><br/>           
                    <p>
                        <button  type="submit" class="btn btn-primary btn-lg btn-outline btn-rounded">Senden</button>
                    </p>
                                          

            </form>

                </div>
            </div>
            
        </step>

        <!-- Schrite 2 mit test button -->

         <step>
            <div class="form-group col-md-10">
                <h1>Schritt 2</h1>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-next>Next</a>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-previous>Zurück</a>
            </div>
            <div class="jumbotron col-md-10">
                <div class="container">
                    <h3>selbstuntersuchung</h3>
                    <h4 style="color:black;">Heben Sie jetzt die Arme über den Kopf und betrachten Sie Ihr Brust im Spiegel sowohl von vorn als auch von beiden Seiten .koennen Sie irgendwelche Hautveraenderung, Einziehungen der Brustwarzen, bisher nicht beobactet Hautflten rund um die Brustwarzen oder Aehnliches feststellen ?</h4><br/><br/>
                    <img src="images/schritt2.jpg" alt="Mountain View" >
                    < <br/><br/>
         <form role="form" ng-submit="submit()" novalidate>

    <INPUT  class="button" type="checkbox" name="gut" placeholder="gut"   ng-change="logConsole()" value="false" ngRequired ng-model=user.gut>Hautveraenderung</INPUT>
    <INPUT  class="button" type="checkbox" name="schlecht" placeholder="schlecht" value="true" ngRequired ng-model=user.schlecht value="false" ng-change="logConsole()">Keine Hautveraenderung</INPUT>
    
            <br/><br/>           
                    <p>
                         <button type="submit" class="btn btn-primary btn-lg btn-outline btn-rounded">Senden </button>
                    
                    </p>
                    </from>
                </div>
            </div>
        </step>

        <!-- Schrite 2 mit test button -->

        <step>
            <div class="form-group col-md-10">
                <h1>Schritt 3</h1>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-next>Next</a>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-previous>Zurück</a>
            </div>
            <div class="jumbotron col-md-10">
                <div class="container">
                    <h3>selbstuntersuchung</h3>
                    <h4 style="color:black;">Tasten Sie jetzt -immer noch im Stehen -Ihre Brust mit allen Fingern der flachen Hand im Uhrzeigersinn ab. </h4><br/><br/>
                    <img src="images/schritt3.jpg" alt="Mountain View" >
                    <br/><br/>
                     <br/><br/>
           
            <br/><br/>           
    <form role="form" ng-submit="submit()" novalidate>
   <input type="checkbox"  name="gut" placeholder="gut"   ng-change="logConsole()" value="false" ngRequired ng-model=user.gut>Hautveraenderung...</input>
    <input type="checkbox" name="schlecht" placeholder="schlecht" value="true" ngRequired ng-model=user.schlecht value="false" ng-change="logConsole()">Keine Hautveraenderung...</input>
    
            <br/><br/>           
                    <p>
                         <button type="submit" class="btn btn-primary btn-lg btn-outline btn-rounded">Senden 2 </button>
                    
                    </p>
                    </from>
                </div>
            </div>
        </step>
                <!-- Schrite 4 mit test button -->

        <step>
            <div class="form-group col-md-10">
                <h1>Schritt 4</h1>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-next>Next</a>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-previous>Zurück</a>
            </div>
            <div class="jumbotron col-md-10">
                <div class="container">
                    <h3>selbstuntersuchung</h3>
                    Die Monatliche Selbstunterschucng der Brust in 8 SChritten<br/><br/>
                    <img src="images/schritt4.jpg" alt="Mountain View" >
                    <br/><br/>
                     <br/><br/>
            
            <br/><br/>           
                    <p>
                        <a class="btn btn-primary btn-lg btn-outline btn-rounded">Next</a>
                    </p>
                </div>
            </div>
        </step>
                <!-- Schrite 3 mit test button -->

        <step>
            <div class="form-group col-md-10">
                <h1>Schritt 5</h1>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-next>Next</a>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-previous>Zurück</a>
            </div>
            <div class="jumbotron col-md-10">
                <div class="container">
                    <h3>selbstuntersuchung</h3>
                    Die Monatliche Selbstunterschucng der Brust in 8 SChritten<br/><br/>
                    <img src="images/schritt5.jpg" alt="Mountain View" >
                    <br/><br/>
                     <br/><br/>
           
            <br/><br/>           
                    <p>
                        <a class="btn btn-primary btn-lg btn-outline btn-rounded">Next</a>
                    </p>
                </div>
            </div>
        </step>
                <!-- Schrite 2 mit test button -->

        <step>
            <div class="form-group col-md-10">
                <h1>Schritt 6</h1>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-next>Next</a>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-previous>Zurück</a>
            </div>
            <div class="jumbotron col-md-10">
                <div class="container">
                    <h3>selbstuntersuchung</h3>
                    Die Monatliche Selbstunterschucng der Brust in 8 SChritten<br/><br/>
                    <img src="images/schritt6.jpg" alt="Mountain View" >
                     <br/><br/>
            
            <br/><br/>           
                    <p>
                        <a class="btn btn-primary btn-lg btn-outline btn-rounded">Next</a>
                    </p>
                </div>
            </div>
        </step>
                <!-- Schrite 2 mit test button -->

         <step>
            <div class="form-group col-md-10">
                <h1>Schritt 7</h1>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-next>Next</a>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-previous>Zurück</a>
            </div>
            <div class="jumbotron col-md-10">
                <div class="container">
                    <h3>selbstuntersuchung</h3>
                    Die Monatliche Selbstunterschucng der Brust in 8 SChritten<br/><br/>
                    <img src="images/schritt7.jpg" alt="Mountain View" >
                    <br/><br/>
                     
            <br/><br/>           
                    <p>
                        <a class="btn btn-primary btn-lg btn-outline btn-rounded">Next</a>
                    </p>
                </div>
            </div>
        </step>

        
           
</step>
             

        <!-- Ergbinss die Test -->

             <step>


            <div class="jumbotron col-md-10">
              <h1>Ergebniss</h1>
                <div class="container">
                  
                      <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-previous>Zurück</a>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" step-next>Next</a>


                   <h2>Vereinbaren Sie Online einene Termin <a href ="#">hier</a></h2>
                        <img src="images/termin.jpg" alt="Mountain View"   class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">>

                    <br/><br/>
                    <p class="serif">
                        <a class="btn btn-primary btn-lg btn-outline btn-rounded">Mehr erfahren</a>

                        fffffffffffffffffffffffffffffffffffffff
                    </p>
                </div>
            </div>
        </step>
    </steps>
</div>
