<div class="dashboard-page">
    <div class="row">>
        <div lang-directive></div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">

                <div class="text-center">
                    <h2 class="brand">Therapy
                        <small>Evolution</small>
                    </h2>
                    <img ng-src="images/fotoprofil.jpg"class="img-circle" width="150" height="150"/> <br/> <br/>
                    <a ui-sref="login" class="btn btn-white btn-outline btn-rounded btn-sm">Logout</a>
                </div>

                <ul class="nav nav-sidebar">
                    <li ng-class="{active: $state.includes('overview')}"><a ui-sref="overview">Starseite <span
                        class="sr-only">(current)</span></a></li>
                    <li ng-class="{active: $state.includes('reports')}"><a ui-sref="reports">Reports</a></li>
                    <li ng-class="{active: $state.includes('tests')}"><a ui-sref="tests">Brust abtasten</a></li>
                    <li ng-class="{active: $state.includes('frage')}"><a ui-sref="frage">Fragen an den Arzt</a></li>
                    <li ng-class="{active: $state.includes('reports')}"><a ui-sref="reports">Arzttermine online buchen</a></li>
                    <li ng-class="{active: $state.includes('geoLoc')}"><a ui-sref="geoLoc">Karte</a></li>
                    <li ng-class="{active: $state.includes('example')}"><a ui-sref="example">Musik</a></li>

                </ul>

            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
            </div>
        </div>
    </div>
</div>
