

<div class="row pull-right ">
    <div class="container">
        <br>
        <div class="col-md- col-md-offset-10">
            <a class="pull-right">
                <a ng-click="changeLange('en')" style="cursor:pointer"> <img src="images/rond-anglais.png"  width="30" height="30"/></a>
                <a ng-click="changeLange('de')" style="cursor:pointer"> <img src="images/rond-allemand.png" width="30" height="30"/></a>
                <a ng-click="changeLange('fr')" style="cursor:pointer"> <img src="images/rond-francais.png" width="30" height="30"/></a>

        </div>
    </div>
</div>

